@import '../componentes/funcções&variaveis';


.corpo {
    background-color: SkyBlue;
    .logo {
        left: 550px;
        position: relative;
    }
    .titulo {
        @include textoPrincipal;
        text-align: center;
    }
    
    
}


