.corpo {
  background-color: SkyBlue;
}
.corpo .logo {
  left: 550px;
  position: relative;
}
.corpo .titulo {
  font-family: "Island Moments", cursive;
  text-align: center;
}
.corpo .novoJogador {
  margin-top: 15px;
  left: 600px;
  position: relative;
}
.corpo .sair {
  font-family: "Island Moments", cursive;
  position: relative;
}
.corpo .labelPesquisa {
  margin-top: 15px;
  left: 750px;
  position: relative;
}
.corpo .pesquisa {
  margin-top: 15px;
  left: 750px;
  position: relative;
}
.corpo #pesquisa {
  margin-top: 15px;
  left: 750px;
  position: relative;
}
.corpo .dadosTitulo {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 1300px;
}
.corpo .id {
  font-family: "Island Moments", cursive;
  left: 145px;
  position: relative;
  text-align: center;
  width: 30px;
}
.corpo .Jogador {
  font-family: "Island Moments", cursive;
  left: 440px;
  position: relative;
  text-align: center;
  width: 30px;
}
.corpo .gols {
  font-family: "Island Moments", cursive;
  left: 715px;
  position: relative;
  text-align: center;
  width: 30px;
}
.corpo .excluir {
  font-family: "Island Moments", cursive;
  left: 1000px;
  position: relative;
  text-align: center;
  width: 30px;
}
.corpo .rodape {
  font-family: "Island Moments", cursive;
  position: relative;
  top: 100px;
  text-align: center;
}

/* Pagina de cadastro */
.corpo .logo {
  left: 550px;
  position: relative;
}
.corpo .formulario {
  display: flex;
  flex-direction: column;
  left: 320px;
  position: relative;
}
.corpo .Jogador02 {
  width: 50%;
}
.corpo .nomeJogador {
  font-family: "Island Moments", cursive;
  margin: 15px 0px 15px 0px;
}
.corpo .nomeGols {
  font-family: "Island Moments", cursive;
  margin: 15px 0px 15px 0px;
}
.corpo .gols02 {
  width: 50%;
}
.corpo .enviarDados {
  font-family: "Island Moments", cursive;
  left: 630px;
  position: relative;
  margin: 30px 0px 15px 0px;
}

@media screen and (max-width: 414px) {
  .corpo .logo {
    left: 70px;
    position: relative;
  }
  .corpo .titulo {
    left: 10px;
    position: relative;
  }
  .corpo .labelPesquisa {
    display: none;
  }
  .corpo .pesquisa, .corpo #pesquisa {
    display: none;
  }
  .corpo .novoJogador {
    font-family: "Island Moments", cursive;
    left: 200px;
    position: relative;
    margin-top: 15px;
  }
  .corpo .dadosTitulo {
    font-family: "Island Moments", cursive;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 20px;
    width: 300px;
  }
  .corpo .tabelaDados01 {
    display: flex;
    justify-content: space-between;
  }
  .corpo .apagar {
    left: 25px;
    position: relative;
  }
  .corpo .id {
    font-family: "Island Moments", cursive;
    left: 85px;
    position: relative;
  }
  .corpo .Jogador {
    font-family: "Island Moments", cursive;
    left: 55px;
    position: relative !important;
    text-align: center !important;
    width: 30px;
  }
  .gols {
    font-family: "Island Moments", cursive;
    position: relative !important;
    left: 15px !important;
  }
  .excluir {
    font-family: "Island Moments", cursive;
    position: relative !important;
    left: 5px !important;
  }
  .rodape__corp {
    font-family: "Island Moments", cursive;
    position: relative;
    top: 150px;
    text-align: center;
  }
}
/* Pagina de cadastro */
@media screen and (max-width: 414px) {
  .corpo .logo {
    left: 70px;
    position: relative;
  }
  .corpo .titulo {
    left: 10px;
    position: relative;
  }
  .corpo .formulario {
    display: flex;
    flex-direction: column;
  }
  .corpo .Jogador02 {
    left: 60px;
    position: relative;
    width: 70%;
  }
  .corpo .nomeJogador {
    font-family: "Island Moments", cursive;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  .corpo .nomeGols {
    font-family: "Island Moments", cursive;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  .corpo .gols02 {
    left: 60px;
    position: relative;
    width: 70%;
  }
  .enviarDados {
    font-family: "Island Moments", cursive;
    left: 175px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */